# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Match Blast.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\UGG\Desktop\Match Blast\Match Blast\.idea\.idea.Match Blast\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
